
    <!-- Before Footer
    ================================================== -->
    <br>
	<div class="beforefooter">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<h3>For any queries contact or get in touch with us </h3>
          <!--
					<p>
						 We're trying to offer  <span>Premium Membership</span> for the better User 
					</p>
					<a class="btn btn-primary btn-lg" href="#">See Terms</a>
          -->
          <p>
            The official links are provided here
          </p>
				</div>
				<div class="col-md-4 text-right footersocial">
					<h5>Connect with Us</h5>
					<a href="https://www.facebook.com/the.pdk7" class="fa fa-facebook"></a>
					<a href="https://twitter.com/PavanDurgaKumar?t=LHss1sDx7-iMvEHSTYXSTg&s=09" class="fa fa-twitter"></a>
					<a href="themistercpu@gmail.com" class="fa fa-google"></a>
					<a href="https://www.linkedin.com/in/gunti-pavan-durga-kumar-38980a201" class="fa fa-linkedin"></a>
					<a href="https://github.com/pavandurgakumar37" class="fa fa-github"></a>
					<a href="https://instagram.com/the.pdk_?utm_medium=copy_link" class="fa fa-instagram"></a>
				</div>
			</div>
		</div>
	</div>
    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <!-- Begin Logo -->
          <a class="navbar-brand" href="index.html">
            <svg  xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-cpu" viewBox="0 0 16 16">
              <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
            </svg>
            <span class="name">Mr.CPU</span>
            </a>
          </div>
          <div class="col-sm-3">
            <div class="footer-widget">
              <h5 class="title">Resources</h5>
              <ul>
                <li><a target="_blank" href="#">Comapare</a></li>
                <li><a target="blank" href="#">Explore</a></li>
                <li><a target="blank" href="#">Details</a></li>
                <li><a target="blank" href="#">New Features</a></li>
                <li><a target="blank" href="#">Info</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-widget">
              <h5 class="title">Author</h5>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a target="_blank" href="#">Affiliates</a></li>
                <li><a href="#">License</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-widget textwidget">
              <h5 class="title">Contact</h5>
              <p>
                If you have a question, a bug report, or if you simply want to say hi<br>
                <a href="#">contact us here</a>.
              </p>
            </div>
          </div>
        </div>
        <div class="copyright">
          <p class="pull-left">
            Copyright © 2022 Mr.CPU
          </p>
          <p class="pull-right">
            <a target="_blank" href="#">"Mr.CPU"</a> - One stop for all processor doubts
          </p>
          <div class="clearfix">
          </div>
        </div>
      </div>
      </footer>
    <!-- End Footer
      ================================================== -->
  </div>
    
  <!-- JavaScript
  ================================================== -->
  <script src="/js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="public/js/ie10-viewport-bug-workaround.js"></script>
  <script src="public/js/masonry.pkgd.min.js"></script>
  <script src="public/js/theme.js"></script>
 
