<%- include ('partials/header') %>
<%- include ('partials/theme') %> 
<br><br><br><br>
<!-- ================================================== -->
<h1>About</h1>
<p>
    A central processing unit (CPU), also called a central processor, main processor or just processor,
     is the electronic circuitry that executes instructions comprising a computer program.<br>
      The CPU performs basic arithmetic, logic, controlling, and input/output (I/O) operations specified by the instructions
       in the program. This contrasts with external components such as main memory and I/O circuitry, and specialized processors
        such as graphics processing units (GPUs).
The form, design, and implementation of CPUs have changed over time, but their fundamental operation remains almost unchanged.<br>
 Principal components of a CPU include the arithmetic–logic unit (ALU) that performs arithmetic and logic operations, processor registers that supply operands to the ALU and store the results of ALU operations, and a control unit that orchestrates the fetching (from memory), decoding and execution of instructions by directing the coordinated operations of the ALU, registers and other components.
Most modern CPUs are implemented on integrated circuit (IC) microprocessors, with one or more CPUs on a single metal-oxide-semiconductor (MOS)
 IC chip. Microprocessor chips with multiple CPUs are multi-core processors. The individual physical CPUs, processor cores, can also be multithreaded to create additional virtual or logical CPUs.An IC that contains a CPU may also contain memory, peripheral interfaces, and other components of a computer; such integrated devices are variously called microcontrollers or systems on a chip (SoC).Array processors or vector processors have multiple processors that operate in parallel, with no unit considered central. Virtual CPUs are an abstraction of dynamical aggregated computational resources.
</p>
<p>
    In this website we're going to view the information of different types of processors or CPU's to get idea about <br>
    <ul>
        <li>What we need to know?</li>
        <li>What we need to observe ?</li>
        <li>What are the main things in CPU?</li>
        <li>What to be considered while purchasing the new mobile or laptop or pc or something else?</li>
        <li>Its pros and cons</li>
        <li>etc...,</li>
    </ul> 
</p>
<p>
    We've gather this information from official websites of the respective products.<br>
     All information and image copy rights are belong to the official website companies.<br>
</p>
</body>
<%- include ('partials/footer') %>
</html>