<%- include ('partials/header') %>
<%- include ('partials/theme') %> 
<!-- ================================================== -->
<div class="site-content">
	<!-- Home Jumbotron
    ================================================== -->
	<section class="intro">
	<div class="wrapintro">
		<h1>Welcome to CPU Cluster</h1>
		<h2 class="lead">Know info about different processors and Compare them to get the details</h2>
		<a target="_blank" href="/explore" class="btn">Explore</a>
	</div>
	</section>
	<!-- Container
    ================================================== -->
	<div class="container">
		<div class="main-content">
			<!-- Featured
            ================================================== -->
			<section class="featured-posts">
			<div class="section-title">
				<h2><span>Featured</span></h2>
			</div>
			<div class="row listfeaturedtag">
				<!-- begin post -->
				<div class="col-sm-6">
					<div class="card">
						<div class="row">
							<div class="col-md-5 wrapthumbnail">
								<a href="#">
								<div class="thumbnail" style="background-image:url(/images/various.png);">
								</div>
								</a>
							</div>
							<div class="col-md-7">
								<div class="card-block">
									<h2 class="card-title"><a href="/explore">Various</a></h2>
									<h4 class="card-text">We're available with wide variety of processors in the market to fulfill our needs.Refer to below link to explore.</h4>
									
									<div class="clickhere">
										<a class="here"href="#">Click Here</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
				<!-- begin post -->
				<div class="col-sm-6">
					<div class="card">
						<div class="row">
							<div class="col-md-5 wrapthumbnail">
								<a href="#">
								<div class="thumbnail" style="background-image:url(/images/performance.png);">
								</div>
								</a>
							</div>
							<div class="col-md-7">
								<div class="card-block">
									
									<h2 class="card-title"><a href="/toplist">Performance</a></h2>
									<h4 class="card-text">Performance may varies from previous Gen to next Gen. Refer to below link to know the top chat.</h4>
									
									<div class="clickhere">
										<a class="here"href="#">Click Here</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
			</div>
			</section>
			<!-- Posts Index
        ================================================== -->
			<section class="recent-posts row">
			<div class="col-sm-4">
				<div class="sidebar">
					
					<div class="sidebar-section">
						<h5><span>Useful</span></h5>
						<ul style="list-style:none">
							<li><a target="_blank" href="http://www.shorturl.at/emHM4">What is a Processor?</a></li>
							<li><a target="_blank" href="http://www.shorturl.at/rtST9">What is CPU?</a></li>
							<li><a target="_blank" href="http://www.shorturl.at/buAOR">Differece of CPU and Processor</a></li>
							<li><a target="_blank" href="/about">why Mr.CPU?</a></li>
							<li><a target="_blank" href="#">How to Explore?</a></li>
						</ul>
					</div>
					<div class="sidebar-section">
						<h5><span>Recommended</span></h5>
						<a href="#" title="Tech"><img src="/images/tech.png" alt="Technology"/></a>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="section-title">
					<h2><span>All Services</span></h2>
				</div>
				<div class="masonrygrid row listrecent">
					<!-- begin post -->
					<div class="col-md-6 grid-item">
						<div class="card">
							<a href="#">
							<img class="img-fluid" src="/images/versus.png" alt="">
							</a>
							<div class="card-block">
								<h2 class="card-title"><a href="/compare">Compare</a></h2>
								<h4 class="card-text">When you want to know which one the of the two meet your needs then simply compare them by clicking the below link</h4>
								<div class="clickhere">
									<a class="here"href="#">Click Here</a>
								</div>
							</div>
						</div>
					</div>
					<!-- end post -->
					<!-- begin post -->
					<div class="col-md-6 grid-item">
						<div class="card">
							<a href="#">
								<img class="img-fluid" src="/images/toplist.png" alt="">
							</a>
							<div class="card-block">
								<h2 class="card-title"><a href="#">Top List</a></h2>
								<h4 class="card-text">Get the details about the top processors and their ranking and one more thing , if one processor is on down onn the list that doesn't means it's not in the competititon , it has it's own features which may don't ahve by others.</h4>
								<div class="clickhere">
									<a class="here"href="#">Click Here</a>
								</div>
							</div>
						</div>
					</div>
					<!-- end post -->
					<!-- begin post -->
					<div class="col-md-6 grid-item">
						<div class="card">
							<br>
							<a href="/mobile">
								<img class="img-fluid" src="/images/smartphone-processor_brands.jpg" alt="">
							</a>
							<div class="card-block">
								<h2 class="card-title"><a href="/mobile">Different Companies for mobiles</a></h2>
								<h4 class="card-text">There's a lot of competititon between various Companies like:
									<br>Snapdragon<br>
									Apple<br>
									Mediatek<br>
							 		Exynos<br>
									Kirin<br>
									Others.</h4>
									<div class="clickhere">
										<a class="here"href="#">Click Here</a>
									</div>
							</div>
						</div>
					</div>
					<!-- end post -->
					<!-- begin post -->
					<div class="col-md-6 grid-item">
						<div class="card">
							<a href="/pc">
								<img class="img-fluid" src="/images/images.png" alt="">
							</a>
							<div class="card-block">
								<h2 class="card-title"><a href="/pc">Different companies for Computers</a></h2>
								<h4 class="card-text">Yes, you heard it right . There is also a lot of competititon between the processors manufacturing companies for computers or laptops like:
									<br>Intel<br>
									Ryzen<br>
									Apple<br>
									Others.
								</h4>
								<div class="clickhere">
									<a class="here"href="#">Click Here</a>
								</div>
							</div>
						</div>
					</div>
					<!-- end post -->
				</div>
				
			</div>
			</section>
		</div>
	</div>
	<!-- /.container -->
<%- include ('partials/footer') %>
